<a href="https://colab.research.google.com/github/Manoj-Jupudi/PortFolio-Optimization/blob/main/Best_Portfolio_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Importing Libaries
import numpy as np
import pandas_datareader as web
import pandas as pd
import matplotlib.pyplot as plt 
plt.style.use("fivethirtyeight")

In [ ]:
symbols=['AAPL','FB','AMZN','NFLX','GOOG']

In [ ]:
### Read the data
data=web.DataReader(symbols,data_source='yahoo',start='2013-1-1',end='21-5-30')['Adj Close']

In [ ]:
data

Symbols           AAPL          FB         AMZN        NFLX         GOOG
Date
2013-01-02   17.010899   28.000000   257.309998   13.144286   360.274597
2013-01-03   16.796177   27.770000   258.480011   13.798571   360.483826
2013-01-04   16.328323   28.760000   259.149994   13.711429   367.607117
2013-01-07   16.232281   29.420000   268.459991   14.171429   366.003143
2013-01-08   16.275965   29.059999   266.380005   13.880000   365.280823
...                ...         ...          ...         ...          ...
2021-05-24  127.099998  324.630005  3244.989990  502.899994  2406.669922
2021-05-25  126.900002  327.790009  3259.050049  501.339996  2409.070068
2021-05-26  126.849998  327.660004  3265.159912  502.359985  2433.530029
2021-05-27  125.279999  332.750000  3230.110107  503.859985  2402.510010
2021-05-28  124.610001  328.730011  3223.070068  502.809998  2411.560059

[2117 rows x 5 columns]

In [ ]:
###Converting it to csvFile
data.to_csv('port.csv')

In [ ]:
###Removing Null Values
df=pd.read_csv('port.csv')
df.dropna(inplace=True,axis=0)

In [ ]:
df.set_index(df['Date'])

                  Date        AAPL  ...        NFLX         GOOG
Date                                ...
2013-01-02  2013-01-02   17.010899  ...   13.144286   360.274597
2013-01-03  2013-01-03   16.796177  ...   13.798571   360.483826
2013-01-04  2013-01-04   16.328323  ...   13.711429   367.607117
2013-01-07  2013-01-07   16.232281  ...   14.171429   366.003143
2013-01-08  2013-01-08   16.275965  ...   13.880000   365.280823
...                ...         ...  ...         ...          ...
2021-05-24  2021-05-24  127.099998  ...  502.899994  2406.669922
2021-05-25  2021-05-25  126.900002  ...  501.339996  2409.070068
2021-05-26  2021-05-26  126.849998  ...  502.359985  2433.530029
2021-05-27  2021-05-27  125.279999  ...  503.859985  2402.510010
2021-05-28  2021-05-28  124.610001  ...  502.809998  2411.560059

[2117 rows x 6 columns]

In [ ]:
df.drop('Date',inplace=True,axis=1)

In [ ]:
df.head()

        AAPL         FB        AMZN       NFLX        GOOG
0  17.010899  28.000000  257.309998  13.144286  360.274597
1  16.796177  27.770000  258.480011  13.798571  360.483826
2  16.328323  28.760000  259.149994  13.711429  367.607117
3  16.232281  29.420000  268.459991  14.171429  366.003143
4  16.275965  29.059999  266.380005  13.880000  365.280823

In [ ]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [ ]:
mu=expected_returns.mean_historical_return(df)
s=risk_models.sample_cov(df)

In [ ]:
mu

AAPL    0.267635
FB      0.340884
AMZN    0.351268
NFLX    0.543419
GOOG    0.254095
dtype: float64

In [ ]:
s

          AAPL        FB      AMZN      NFLX      GOOG
AAPL  0.082014  0.045469  0.040364  0.036159  0.038935
FB    0.045469  0.117963  0.055032  0.057005  0.050791
AMZN  0.040364  0.055032  0.092541  0.063458  0.047570
NFLX  0.036159  0.057005  0.063458  0.208836  0.049341
GOOG  0.038935  0.050791  0.047570  0.049341  0.066751

In [ ]:
ef=EfficientFrontier(mu,s)
ef.max_sharpe()
cleaned_w=ef.clean_weights()
ef.portfolio_performance(verbose=True)

Expected annual return: 39.4%
Annual volatility: 27.2%
Sharpe Ratio: 1.37

(0.39354471012514547, 0.2719539041953944, 1.3735589170169065)

In [ ]:
cleaned_w

OrderedDict([('AAPL', 0.22145),
             ('FB', 0.15854),
             ('AMZN', 0.29504),
             ('NFLX', 0.32497),
             ('GOOG', 0.0)])

In [ ]:
from pypfopt.discrete_allocation import DiscreteAllocation,get_latest_prices

In [ ]:
val=10000
latest_prices=get_latest_prices(df)
weights=cleaned_w
da=DiscreteAllocation(cleaned_w,latest_prices=latest_prices,total_portfolio_value=val)

In [ ]:
allocation,leftover=da.lp_portfolio()

In [ ]:
print(allocation)

{'AAPL': 16, 'FB': 5, 'AMZN': 1, 'NFLX': 6}

In [ ]:
leftover

122.65988159179688